.conteudo-completo{
    display: flex;
}
.conteudo-sidebar{
    position: fixed;
    height: 100% !important;
    overflow-y: scroll;
}
::-webkit-scrollbar{
    width: 0px;
}
.conteudo-principal{
    width: 100% !important;
    margin-left: 260px;
}